.navbar-lewagon {
  justify-content: space-between;

  background: rgb(186,189,191);
  background: radial-gradient(circle, rgba(186,189,191,0.47522759103641454) 0%, rgba(0,0,0,1) 100%);
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-header {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff !important;
}
.nav-img {
  height: 80px;
  width: 150px !important;
}

a.nav-link {
  color: #F33535 !important;
  font-weight: bold;
}
